.idea
.venv
__pycache__

# Distribution / packaging
build/
*.egg-info/
# mypy
.mypy_cache/
dist/

# IDE settings
.vscode/
.idea/
.idea/taipy.iml
.DS_Store

# Core .data directory
.data/

# demo files
demo-*
