[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
autopep8 = "*"
black = "*"
cookiecutter = "==2.1.1"
flake8 = "*"
flake8-docstrings = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
taipy = "==3.0"
tox = "*"
types-python-dateutil = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
